# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Finch API
  description: Finch API Reference
  version: "0.1.0"
# the domain of the service
host: api.usefinch.co
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /users:
    post:
      summary: Create new user
      parameters:
        - name: body
          in: body
          description: User definition
          required: true
          schema:
            type: object
            required:
              - name
              - email
            properties:
              name:
                type: string
              email:
                type: string
      responses:
        200:
          description: Generated user token
          examples:
            application/json:
              status: success
              data:
                token: Some JWT
  /alerts:
    parameters:
      - name: Authorization
        in: header
        required: true
        type: string
        default: "Bearer "
        description: "JSON Web Token (JWT) obtained from /users endpoint."
    get:
      summary: Get alerts of user
      responses:
        200:
          description: Alerts of user
    post:
      summary: Create new alert
      parameters:
        - name: body
          in: body
          description: Alert definition
          required: true
          schema:
            type: object
            required:
              - channel
            properties:
              name:
                type: string
                description: An identifier for alert.
              channel:
                type: string
                enum:
                  - http
              url:
                type: string
                description: Required if channel is http. URL to send the requests to.
              method:
                type: string
                enum:
                  - GET
                  - POST
              contentType:
                type: string
                enum:
                  - text/plain
                  - application/json
                  - application/x-www-form-urlencoded
              data:
                type: string
                description: Plain text to post with the request body.
              alertAfter:
                type: integer
                format: int32
                description: Send the alert after x seconds. Overrides alertDate.
              alertDate:
                type: string
                description: Send the alert at specified ISO 8601 date.
              repeatEvery:
                type: integer
                description: Repeat the alert every x seconds.
              repeatCount:
                type: integer
                description: Repeat the alert x times.
                default: 3
      responses:
        200:
          description: Generated user token
          examples:
            application/json:
              status: success
  /alerts/{alertId}:
    parameters:
      - name: Authorization
        in: header
        required: true
        type: string
        default: "Bearer "
        description: "JSON Web Token (JWT) obtained from /users endpoint."
      - name: alertId
        in: path
        type: string
        required: true
        description: Alert ID
    get:
      summary: Get alert details
      responses:
        200:
          description: Alert details
    patch:
      summary: Update alert
      parameters:
        - name: body
          in: body
          description: Fields to update
          required: true
          schema:
            type: object
            required:
              - enabled
            properties:
              enabled:
                type: boolean
                default: true
      responses:
        200:
          description: Success message
